[Unit]
Description=Start an ezmsg-gadget endpoint
Wants=ezmsg-gadget.service
After=network.target ezmsg-gadget.service

[Service]
Type=simple
User=ezmsg-gadget
ExecStart=python -m ezmsg.gadget.command endpoint
StandardOutput=journal
Restart=on-success
RestartSec=5

[Install]
WantedBy=multi-user.target